{% extends 'base.html' %}

{% block content %}
<div class="p-5 mb-4 bg-light border rounded-3">
    <h1>Todolist</h1>
    <p class="lead">Todoリストを作成して生産的な毎日を過ごしましょう!</p>
</div>

<div class="container">
    <a class="btn btn-secondary mb-3" role="button" aria-disabled="true" href="{% url 'create' %}">新規作成</a>
    {% for list in object_list %}
    <div class="alert alert-{{ list.priority }}" role="alert">
        <p>{{ list.title }} {{ list.dueDate }}</p>
        <a class="btn btn-info" role="button" aria-disabled="true" href="{% url 'update' list.pk  %}">編集画面へ</a>
        <a class="btn btn-success" role="button" aria-disabled="true" href="{% url 'delete' list.pk  %}">削除画面へ</a>
        <a class="btn btn-primary" role="button" aria-disabled="true" href="{% url 'detail' list.pk  %}">詳細画面へ</a>
    </div>
    {% endfor %}
</div>
{% endblock %}